@media (max-width:605px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 600px;
    }

    .info {
        margin: 23px;
    }

    .info .title {
        margin-top: 10px;
    }

    .image img {
        width: 100%;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0px;
    }

    .info .description {
        font-size: 14px;
        padding-right: 10px;
    }
}